@mixin color-fondos-principal() {
    background-color: $background-color-principal-modo-oscuro;//$background-color-principal-modo-claro;
    box-shadow: $box-shadow
}
@mixin color-fondo-body() {
    background-color: $background-color-body-modo-oscuro;//$background-color-body-modo-claro;
    box-shadow: $box-shadow
}

@mixin flexCentradoColumn () {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flexCentrado() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin boton() {
    @include color-fondos-principal();
    @include tipografiaYColor();
    font-size: $tamanio-titulos-y-botones;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
}

@mixin tipografiaYColor() {
    font-family: $tipografia-principal;
    color: $color-texto-modo-oscuro;//$color-texto-modo-claro; 
}