@mixin color-fondo() {
    background-color: rgb(12, 11, 11);
    box-shadow: $box-shadow
}
@mixin color-fondo-body() {
    background-color: rgb(145, 92, 92);
    box-shadow: $box-shadow
}

@mixin flexCentradoColumn () {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flexCentrado() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin boton() {
    @include color-fondo();
    color:$color-texto;
    font-size: $tamanio-titulos-y-botones;
    cursor: pointer;
    border: none;
    box-sizing: border-box; 
}