@mixin color-fondos-principal() {
    background-color: $background-color-principal-modo-oscuro;//$background-color-principal-modo-claro;
    box-shadow: $box-shadow
}
@mixin color-fondo-body() {
    background-color: $background-color-body-modo-oscuro;//$background-color-body-modo-claro;
    box-shadow: $box-shadow
}

@mixin flexCentradoColumn () {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flexColumn(){
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@mixin flexCentrado() {
    display: flex;
    justify-content: center;
}

@mixin flexItemsCentrado() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin boton() {
    @include color-fondos-principal();
    @include tipografiaYColor();
    font-size: $tamanio-titulos-y-botones;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
}

@mixin tipografiaYColor() {
    font-family: $tipografia-principal;
    color: $color-texto-modo-oscuro;//$color-texto-modo-claro; 
}

@mixin botonSalirYVolver() {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    button{
    @include boton(); 
    margin-top:50px; 
    display:none;
    }
    p{
    margin: 0px;
    }
    button:hover p{
    transform: scale(.9);
    }
}

@mixin input() {
    width: 30%;
    font-size: $tamanio-titulos-y-botones; 
    font-family: $tipografia-principal;
    font-weight: bold;
    margin-right: 25px; 
    color: rgba(0, 0, 0, 0.911);
    background-color: transparent;
    border: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.63);
}