.descripcion-pelicula{
    display:"none";
    @include flexCentrado();
    // background-image: url(../../img/tira-header.jpg);
    // background-size: 35px 35px; ;
    // background-repeat: no-repeat;
    width: 100%;
    .container-descripcion-pelicula{
    @include flexCentrado();
    }
    .container-img-pelicula{
        width: 500px;
        height: 750px;
        background-color:transparent; 
        margin: 20px;
        padding: 5px;
        .img-descripcion-pelicula{
            width: 100%;
            height: auto;
            box-sizing: border-box; 
        }
    }
    .container-info-pelicula{
        width: 500px;
        font-size: 20px;
        @include tipografiaYColor();
        .titulo{
            font-size: 40px;
        }
        p{
          
        };
        
    }
    display:none;
}



