.elenco-pelicula{
    @include flexCentrado();
    flex-wrap: wrap;
    margin: 100px;
    .foto-del-actor{
        width: 200px;
        height: 300px;
        background-color:transparent;
        margin: 50px;
    }
    .nombre-del-actor{
        @include tipografiaYColor();
        font-weight: bolder;
        font-size: 25px;
        margin: 0px;
    }
    .img-actor-actriz{
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }
    .nombre-del-personaje{
        @include tipografiaYColor();
        font-size: 18px;
        margin: 0px;
        line-height: 1;
    }  
}
.volver-de-elenco{
    @include botonSalirYVolver();
}

/*///////////////////////////////////////////////////////////////////////////////////////////////
                RESPONSIVE                
///////////////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width: 1100px ) {
  .elenco-pelicula{
    margin:0px;
  }
}
@media screen and (max-width: 600px ) {
  .elenco-pelicula{
    margin:0px;
    .foto-del-actor{
        width: 90px;
        height: 150px;
    }
    .nombre-del-actor{
        font-size: 20px;
        line-height: 1;
        margin-bottom: 5px;
    }
    .nombre-del-personaje{
        font-size: 15px;
        // si ves dos llaves de cierre a la misma altura, es una indicacion de que estas tabulando mal
    }
    }
 .volver-de-elenco .volver p{
    font-size: 15px;
}
}

@media screen and (max-width: 380px ) {
  .elenco-pelicula{
    .foto-del-actor{
        width: 60px;
  }
}
}