footer{
    @include flexItemsCentrado();
    .fondo-footer{
       display: flex;
       position: relative;  
    }
    background-image: url("../img/img-fondo-footer.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    width: 100%;
    height: 510px;
    .contacto-footer, .ico-footer {
        @include flexItemsCentrado;
        @include colorFondosPrincipal;
// corregi el tabulado aca, esta muy dificil de leer
        margin: 15px;
        padding: 5px;
        font-size: 18px;
        p{
        margin: 0px;
        @include flexItemsCentrado;
        }
        a{
        background-color: transparent;
        i{
        font-size: 30px;
        color:white;
        margin: 10px;  
        }
        .fa-imdb{
        font-size: 40px;
        }
    }

    a:hover i {
    transform: scale(.9);
    }
    .fa-heartbeat{
        font-size: 40px;
        color:white;
        margin: 10px;

    }
} 
}

/*///////////////////////////////////////////////////////////////////////////////////////////////
                RESPONSIVE                
///////////////////////////////////////////////////////////////////////////////////////////////*/
@media screen and(max-width : 1200px){
   footer{
       height: 350px;
    }
}
@media screen and(max-width : 1010px){
   .fondo-footer{
        @include flexCentradoColumn();
    }
    .contacto-footer, .ico-footer {
        margin: 0px;
        padding: 2px;
    }
}
@media screen and(max-width : 750px){
   footer{
        height: 600px;
        justify-content: flex-end;
     .fondo-footer{
        justify-content: flex-end;
        flex-direction: column-reverse;
        margin-top: 160px;
        
    }
    .contacto-footer, .ico-footer {
        display: block;
        margin: 8px;
        margin-right: 50px;
       i{
        font-size: 20px;
       }
    .fa-heartbeat, .fa-imdb{
       font-size: 30px;
       margin:5px;
    }
    p{
        font-size: 16px;
    }
   }
   }
}
