footer{
    @include flexCentrado();
    @include color-fondos-principal();
    width: 100%;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 0px;
    .contacto-footer, .ico-footer {
        @include tipografiaYColor();
        @include flexCentrado;
        background-color: $background-color-principal-modo-oscuro;
        box-shadow: $box-shadow;
        margin: 20px;
        padding: 10px;
        font-size: 18px;
        p{
        margin: 0px;
        @include flexCentrado;
        }
        a{
        background-color: transparent;
        i{
        font-size: 40px;
        color:white;
        margin: 10px;  
        }
        .fa-imdb, .fa-heartbeat{
        font-size: 50px;
        }
    }

    a:hover i {
    transform: scale(.9);
    }
    .fa-heartbeat{
        font-size: 40px;
        color:white;
        margin: 10px;

    }
}
//      .tira-footer{
//     @include flexCentrado(); 
//     width: 60%;
//     background-image: url("../../img/tira.jpg");//mepa que va con comillas
//     background-size: 1200px 200px;
//     background-repeat:no-repeat;
// }    
}

@media screen and(max-width : 700px){
    footer{
        @include flexCentradoColumn()
    }
}