footer{
    @include flexItemsCentrado();
    .fondo-footer{
       @include flexItemsCentrado(); 
    }
    background-image: url(../../img/tira.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    height: 550px;
    .contacto-footer, .ico-footer {
        @include flexItemsCentrado;
        @include colorFondosPrincipal;
        margin: 20px;
        padding: 10px;
        font-size: 18px;
        p{
        margin: 0px;
        @include flexItemsCentrado;
        }
        a{
        background-color: transparent;
        i{
        font-size: 30px;
        color:white;
        margin: 10px;  
        }
        .fa-imdb{
        font-size: 40px;
        }
    }

    a:hover i {
    transform: scale(.9);
    }
    .fa-heartbeat{
        font-size: 40px;
        color:white;
        margin: 10px;

    }
} 
}

@media screen and(max-width : 700px){
    footer{
        @include flexCentradoColumn()
    }
}