nav{
    width: 80%;
    display: flex;
    margin-top: 60px;
    margin-bottom: 30px;
    label{
        @include tipografiaYColor();
        margin-right: 20px;
        margin-left: 30px;
        font-size: 30px;
        font-weight: bold;
    }
    input{
        @include input(); 
    }
    input::placeholder{
        background-image: url(../../img/camara-negro.png);
        background-size: 35px 35px;
        background-repeat: no-repeat;
        padding-left:50px;
        color: rgb(34, 31, 31)
    }
    button{
        @include flexCentradoColumn();
        @include boton();
    }
    button:hover span {
       transform: scale(.9);
    }
    select{
        @include input();
    }
        
 

}


