nav{
    width: 80%;
    display: flex;
    margin-top: 60px;
    margin-bottom: 30px;
    label{
        @include tipografiaYColor();
        margin-right: 20px;
        font-size: 30px;
        font-weight: bold;
    }
    input{
        width: 70%;
        font-size: $tamanio-titulos-y-botones; 
        font-family: $tipografia-principal;
        font-weight: bold;
        margin-right: 30px; 
        color: black;
        background-color: transparent;
        border: none;
        border-bottom: 3px solid black;    
    }
    input::placeholder{
        background-image: url(../../img/camara-negro.png);
        background-size: 35px 35px;
        background-repeat: no-repeat;
        padding-left:50px;
        color: rgb(34, 31, 31)
    }
    button{
        @include flexCentradoColumn();
        @include boton();
        font-weight: bold;
        height: 50px;
        padding-left: 25px;
        padding-right: 25px;
    }

    button:hover span {
       transform: scale(.9);
    }

}


