.paginado {
    @include flexCentrado();
    margin-top: 80px;

    button {
        @include boton();
        font-size: 30px;
        margin: 20px;
    }

    button:hover i {
        transform: scale(.9);
    }
}
