.container-peliculas{
    display: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
}
.tarjeta{
    @include flexColumn();
    width: 260px;
    background-color:transparent; 
    margin: 20px;
    padding: 3px;
}
.img-portada-peliculas{
    width: 100%;
    height: auto;
    box-sizing: border-box;   
}
.img-portada-peliculas:hover{
    transform: scale(1.1);
    cursor: pointer;
} 
.titulo{
    @include tipografiaYColor();
    font-size: $tamanio-titulos-y-botones;
    margin: 0px;
    margin-top: 22px;
    line-height: 1;
}
