.container-peliculas{
    display: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.tarjeta{
    @include flexCentradoColumn();
    width: 260px;
    height: 430px;
    background-color:transparent; 
    margin: 20px;
    padding: 3px;
}
.img-portada-peliculas{
    width: 100%;
    height: auto;
    box-sizing: border-box;   
}
.img-portada-peliculas:hover{
    transform: scale(1.1);
    cursor: pointer;
} 
.titulo{
    @include tipografiaYColor();
    font-size: $tamanio-titulos-y-botones;
    margin-bottom: 0px;
   // align-items: center;
}
