body {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Saira Condensed", sans-serif;
  background-color: #915c5c;
  box-shadow: rgba(158, 44, 44, 0.17) 0px -23px 25px 0px inset, rgba(158, 44, 44, 0.17) 0px -36px 30px 0px inset, rgba(158, 44, 44, 0.17) 0px -79px 40px 0px inset, rgba(158, 44, 44, 0.17) 0px 2px 1px, rgba(158, 44, 44, 0.17) 0px 4px 2px, rgba(158, 44, 44, 0.17) 0px 8px 4px, rgba(158, 44, 44, 0.17) 0px 16px 8px, rgba(158, 44, 44, 0.17) 0px 32px 16px;
}

header {
  width: 100%;
}

.img-claqueta-header, .img-tira-header {
  width: auto;
  height: 380px;
}

.container-titulo-principal {
  background-color: #0c0b0b;
  box-shadow: rgba(158, 44, 44, 0.17) 0px -23px 25px 0px inset, rgba(158, 44, 44, 0.17) 0px -36px 30px 0px inset, rgba(158, 44, 44, 0.17) 0px -79px 40px 0px inset, rgba(158, 44, 44, 0.17) 0px 2px 1px, rgba(158, 44, 44, 0.17) 0px 4px 2px, rgba(158, 44, 44, 0.17) 0px 8px 4px, rgba(158, 44, 44, 0.17) 0px 16px 8px, rgba(158, 44, 44, 0.17) 0px 32px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo-principal {
  background-color: #0c0b0b;
  box-shadow: rgba(158, 44, 44, 0.17) 0px -23px 25px 0px inset, rgba(158, 44, 44, 0.17) 0px -36px 30px 0px inset, rgba(158, 44, 44, 0.17) 0px -79px 40px 0px inset, rgba(158, 44, 44, 0.17) 0px 2px 1px, rgba(158, 44, 44, 0.17) 0px 4px 2px, rgba(158, 44, 44, 0.17) 0px 8px 4px, rgba(158, 44, 44, 0.17) 0px 16px 8px, rgba(158, 44, 44, 0.17) 0px 32px 16px;
  color: #fff;
  font-size: 40px;
  font-family: "Saira Condensed", sans-serif;
  padding: 40px;
  margin-bottom: 0px;
  margin-top: 0px;
}

@media screen and (max-width: 1200px) {
  .img-tira-header {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .img-claqueta-header {
    width: 320px;
    height: 220px;
  }
}
nav {
  width: 80%;
  display: flex;
  margin-top: 60px;
  margin-bottom: 30px;
}
nav label {
  margin-right: 20px;
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  font-family: "Saira Condensed", sans-serif;
}
nav input {
  width: 70%;
  font-size: 22px;
  margin-right: 30px;
  color: #fff;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid black;
}
nav input::placeholder {
  background-image: url(../../img/camara-negro.png);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  padding-left: 50px;
  color: #221f1f;
}
nav .button-buscador {
  background-color: #0c0b0b;
  box-shadow: rgba(158, 44, 44, 0.17) 0px -23px 25px 0px inset, rgba(158, 44, 44, 0.17) 0px -36px 30px 0px inset, rgba(158, 44, 44, 0.17) 0px -79px 40px 0px inset, rgba(158, 44, 44, 0.17) 0px 2px 1px, rgba(158, 44, 44, 0.17) 0px 4px 2px, rgba(158, 44, 44, 0.17) 0px 8px 4px, rgba(158, 44, 44, 0.17) 0px 16px 8px, rgba(158, 44, 44, 0.17) 0px 32px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  font-size: 25px;
  font-family: "Saira Condensed", sans-serif;
  font-weight: bold;
  cursor: pointer;
  height: 50px;
  max-width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: none;
  touch-action: manipulation;
}
nav .button-buscador:active {
  outline: 0;
}
nav .button-buscador:hover {
  outline: 0;
}
nav .button-buscador:hover span {
  transform: scale(0.9);
}
@media screen and (max-width: 991px) {
  nav .button-buscador {
    height: 50px;
  }
  nav .button-buscador span {
    line-height: 50px;
  }
}

.container-peliculas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 430px;
  background-color: transparent;
  margin: 20px;
  padding: 3px;
}

.img-portada-peliculas {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.img-portada-peliculas:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.titulo {
  font-size: 25px;
  margin-bottom: 0px;
  font-family: "Saira Condensed", sans-serif;
  color: #fff;
  align-items: center;
}

.button-primera-pagina {
  font-size: 100px;
  background-color: #0c0b0b;
  box-shadow: rgba(158, 44, 44, 0.17) 0px -23px 25px 0px inset, rgba(158, 44, 44, 0.17) 0px -36px 30px 0px inset, rgba(158, 44, 44, 0.17) 0px -79px 40px 0px inset, rgba(158, 44, 44, 0.17) 0px 2px 1px, rgba(158, 44, 44, 0.17) 0px 4px 2px, rgba(158, 44, 44, 0.17) 0px 8px 4px, rgba(158, 44, 44, 0.17) 0px 16px 8px, rgba(158, 44, 44, 0.17) 0px 32px 16px;
}

footer {
  background-color: #0c0b0b;
  box-shadow: rgba(158, 44, 44, 0.17) 0px -23px 25px 0px inset, rgba(158, 44, 44, 0.17) 0px -36px 30px 0px inset, rgba(158, 44, 44, 0.17) 0px -79px 40px 0px inset, rgba(158, 44, 44, 0.17) 0px 2px 1px, rgba(158, 44, 44, 0.17) 0px 4px 2px, rgba(158, 44, 44, 0.17) 0px 8px 4px, rgba(158, 44, 44, 0.17) 0px 16px 8px, rgba(158, 44, 44, 0.17) 0px 32px 16px;
  width: 100%;
  height: 180px;
  margin-top: 40px;
}

.footer {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  font-family: "Saira Condensed", sans-serif;
}

/*# sourceMappingURL=style.css.map */
