@import "utilidades/variables";
@import "utilidades/mixins";
@import "utilidades/reset";
.tarjeta{
    width: 300px;
    height: 250px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.peliculas{
    display: flex;
    flex-wrap: wrap;
}
.img-portada-pelis{
    width: 200px;
    height: 200px;
}
