body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.ocultar {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #915c5c;
  box-shadow: rgba(158, 44, 44, 0.17) 0px -23px 25px 0px inset, rgba(158, 44, 44, 0.17) 0px -36px 30px 0px inset, rgba(158, 44, 44, 0.17) 0px -79px 40px 0px inset, rgba(158, 44, 44, 0.17) 0px 2px 1px, rgba(158, 44, 44, 0.17) 0px 4px 2px, rgba(158, 44, 44, 0.17) 0px 8px 4px, rgba(158, 44, 44, 0.17) 0px 16px 8px, rgba(158, 44, 44, 0.17) 0px 32px 16px;
  font-family: "Saira Condensed", sans-serif;
  color: #fff;
}

header {
  width: 100%;
}
header .container-titulo-principal {
  background-color: #0c0b0b;
  box-shadow: rgba(158, 44, 44, 0.17) 0px -23px 25px 0px inset, rgba(158, 44, 44, 0.17) 0px -36px 30px 0px inset, rgba(158, 44, 44, 0.17) 0px -79px 40px 0px inset, rgba(158, 44, 44, 0.17) 0px 2px 1px, rgba(158, 44, 44, 0.17) 0px 4px 2px, rgba(158, 44, 44, 0.17) 0px 8px 4px, rgba(158, 44, 44, 0.17) 0px 16px 8px, rgba(158, 44, 44, 0.17) 0px 32px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .titulo-principal {
  background-color: #0c0b0b;
  box-shadow: rgba(158, 44, 44, 0.17) 0px -23px 25px 0px inset, rgba(158, 44, 44, 0.17) 0px -36px 30px 0px inset, rgba(158, 44, 44, 0.17) 0px -79px 40px 0px inset, rgba(158, 44, 44, 0.17) 0px 2px 1px, rgba(158, 44, 44, 0.17) 0px 4px 2px, rgba(158, 44, 44, 0.17) 0px 8px 4px, rgba(158, 44, 44, 0.17) 0px 16px 8px, rgba(158, 44, 44, 0.17) 0px 32px 16px;
  font-family: "Saira Condensed", sans-serif;
  color: #fff;
  font-size: 40px;
  padding: 40px;
  margin-bottom: 0px;
  margin-top: 0px;
}
header .img-claqueta-header, header .img-tira-header {
  width: auto;
  height: 380px;
}

@media screen and (max-width: 1200px) {
  .img-tira-header {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .img-claqueta-header {
    width: 320px;
    height: 220px;
  }
}
nav {
  width: 80%;
  display: flex;
  margin-top: 60px;
  margin-bottom: 30px;
}
nav label {
  font-family: "Saira Condensed", sans-serif;
  color: #fff;
  margin-right: 20px;
  font-size: 30px;
  font-weight: bold;
}
nav input {
  width: 70%;
  font-size: 25px;
  font-family: "Saira Condensed", sans-serif;
  font-weight: bold;
  margin-right: 30px;
  color: black;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid black;
}
nav input::placeholder {
  background-image: url(../../img/camara-negro.png);
  background-size: 35px 35px;
  background-repeat: no-repeat;
  padding-left: 50px;
  color: #221f1f;
}
nav button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0c0b0b;
  box-shadow: rgba(158, 44, 44, 0.17) 0px -23px 25px 0px inset, rgba(158, 44, 44, 0.17) 0px -36px 30px 0px inset, rgba(158, 44, 44, 0.17) 0px -79px 40px 0px inset, rgba(158, 44, 44, 0.17) 0px 2px 1px, rgba(158, 44, 44, 0.17) 0px 4px 2px, rgba(158, 44, 44, 0.17) 0px 8px 4px, rgba(158, 44, 44, 0.17) 0px 16px 8px, rgba(158, 44, 44, 0.17) 0px 32px 16px;
  font-family: "Saira Condensed", sans-serif;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  font-weight: bold;
  height: 50px;
  padding-left: 25px;
  padding-right: 25px;
}
nav button:hover span {
  transform: scale(0.9);
}

.container-peliculas {
  display: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 80px;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 260px;
  background-color: transparent;
  margin: 20px;
  padding: 3px;
}

.img-portada-peliculas {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.img-portada-peliculas:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.titulo {
  font-family: "Saira Condensed", sans-serif;
  color: #fff;
  font-size: 25px;
  margin: 0px;
  margin-top: 25px;
  line-height: 1;
}

.descripcion-pelicula {
  display: "none";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  display: none;
}
.descripcion-pelicula .container-descripcion-pelicula {
  display: flex;
  justify-content: center;
  align-items: center;
}
.descripcion-pelicula .container-img-pelicula {
  width: 500px;
  background-color: transparent;
  box-shadow: #f37070 0px 4px 16px, #f37070 0px 8px 32px;
  margin: 40px;
}
.descripcion-pelicula .container-img-pelicula .img-descripcion-pelicula {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.descripcion-pelicula .container-info-pelicula {
  width: 500px;
  font-size: 20px;
  font-family: "Saira Condensed", sans-serif;
  color: #fff;
}
.descripcion-pelicula .container-info-pelicula .titulo {
  font-size: 40px;
  margin-bottom: 25px;
}
.descripcion-pelicula .container-info-pelicula button {
  background-color: #0c0b0b;
  box-shadow: rgba(158, 44, 44, 0.17) 0px -23px 25px 0px inset, rgba(158, 44, 44, 0.17) 0px -36px 30px 0px inset, rgba(158, 44, 44, 0.17) 0px -79px 40px 0px inset, rgba(158, 44, 44, 0.17) 0px 2px 1px, rgba(158, 44, 44, 0.17) 0px 4px 2px, rgba(158, 44, 44, 0.17) 0px 8px 4px, rgba(158, 44, 44, 0.17) 0px 16px 8px, rgba(158, 44, 44, 0.17) 0px 32px 16px;
  font-family: "Saira Condensed", sans-serif;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  font-weight: bolder;
  margin: 5px;
  margin-top: 25px;
}
.descripcion-pelicula .container-info-pelicula button:hover p {
  transform: scale(0.9);
}
.descripcion-pelicula .container-info-pelicula p {
  margin: 0px;
  margin-left: 15px;
  margin-right: 15px;
}

.elenco-pelicula {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 100px;
}
.elenco-pelicula .foto-del-actor {
  width: 200px;
  height: 300px;
  background-color: transparent;
  margin: 50px;
}
.elenco-pelicula .nombre-del-actor {
  font-family: "Saira Condensed", sans-serif;
  color: #fff;
  font-weight: bolder;
  font-size: 25px;
  margin: 0px;
}
.elenco-pelicula .img-actor-actriz {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.elenco-pelicula .nombre-del-personaje {
  font-family: "Saira Condensed", sans-serif;
  color: #fff;
  font-size: 18px;
  margin: 0px;
  line-height: 1;
}
.elenco-pelicula button {
  background-color: #0c0b0b;
  box-shadow: rgba(158, 44, 44, 0.17) 0px -23px 25px 0px inset, rgba(158, 44, 44, 0.17) 0px -36px 30px 0px inset, rgba(158, 44, 44, 0.17) 0px -79px 40px 0px inset, rgba(158, 44, 44, 0.17) 0px 2px 1px, rgba(158, 44, 44, 0.17) 0px 4px 2px, rgba(158, 44, 44, 0.17) 0px 8px 4px, rgba(158, 44, 44, 0.17) 0px 16px 8px, rgba(158, 44, 44, 0.17) 0px 32px 16px;
  font-family: "Saira Condensed", sans-serif;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  font-weight: bolder;
  margin: 5px;
  margin-top: 25px;
}
.elenco-pelicula button:hover p {
  transform: scale(0.9);
}

.paginado {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.paginado button {
  background-color: #0c0b0b;
  box-shadow: rgba(158, 44, 44, 0.17) 0px -23px 25px 0px inset, rgba(158, 44, 44, 0.17) 0px -36px 30px 0px inset, rgba(158, 44, 44, 0.17) 0px -79px 40px 0px inset, rgba(158, 44, 44, 0.17) 0px 2px 1px, rgba(158, 44, 44, 0.17) 0px 4px 2px, rgba(158, 44, 44, 0.17) 0px 8px 4px, rgba(158, 44, 44, 0.17) 0px 16px 8px, rgba(158, 44, 44, 0.17) 0px 32px 16px;
  font-family: "Saira Condensed", sans-serif;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  font-size: 30px;
  margin: 20px;
  padding: 12px;
}
.paginado button:hover i {
  transform: scale(0.9);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c0b0b;
  box-shadow: rgba(158, 44, 44, 0.17) 0px -23px 25px 0px inset, rgba(158, 44, 44, 0.17) 0px -36px 30px 0px inset, rgba(158, 44, 44, 0.17) 0px -79px 40px 0px inset, rgba(158, 44, 44, 0.17) 0px 2px 1px, rgba(158, 44, 44, 0.17) 0px 4px 2px, rgba(158, 44, 44, 0.17) 0px 8px 4px, rgba(158, 44, 44, 0.17) 0px 16px 8px, rgba(158, 44, 44, 0.17) 0px 32px 16px;
  width: 100%;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer .contacto-footer, footer .ico-footer {
  font-family: "Saira Condensed", sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c0b0b;
  box-shadow: rgba(158, 44, 44, 0.17) 0px -23px 25px 0px inset, rgba(158, 44, 44, 0.17) 0px -36px 30px 0px inset, rgba(158, 44, 44, 0.17) 0px -79px 40px 0px inset, rgba(158, 44, 44, 0.17) 0px 2px 1px, rgba(158, 44, 44, 0.17) 0px 4px 2px, rgba(158, 44, 44, 0.17) 0px 8px 4px, rgba(158, 44, 44, 0.17) 0px 16px 8px, rgba(158, 44, 44, 0.17) 0px 32px 16px;
  margin: 20px;
  padding: 10px;
  font-size: 18px;
}
footer .contacto-footer p, footer .ico-footer p {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .contacto-footer a, footer .ico-footer a {
  background-color: transparent;
}
footer .contacto-footer a i, footer .ico-footer a i {
  font-size: 30px;
  color: white;
  margin: 10px;
}
footer .contacto-footer a .fa-imdb, footer .contacto-footer a .fa-heart, footer .ico-footer a .fa-imdb, footer .ico-footer a .fa-heart {
  font-size: 50px;
}
footer .contacto-footer a:hover i, footer .ico-footer a:hover i {
  transform: scale(0.9);
}
footer .contacto-footer .fa-heart, footer .ico-footer .fa-heart {
  font-size: 30px;
  color: white;
  margin: 10px;
}

/*# sourceMappingURL=style.css.map */
