@import "utilidades/variables";
@import "utilidades/mixins";
@import "utilidades/reset";
@import "componentes/body";
@import "componentes/header";
@import "componentes/nav-form-busqueda";
@import "componentes/tarjetas";
@import "componentes/paginado";
@import "componentes/footer";